$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-back-to-top: "\e900";
$icon-close: "\e901";
$icon-user-delete: "\e90a";
$icon-user-add: "\e903";
$icon-dropdown: "\e902";
$icon-facebook: "\e904";
$icon-instagram: "\e905";
$icon-love-fireworks: "\e906";
$icon-rings: "\e907";
$icon-altar: "\e908";
$icon-church: "\e909";
