@font-face {
  font-family: 'LovelyGrace';
  src: url('~/assets/fonts/LovelyGraceBG.otf') format('opentype');
}

$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: LovelyGrace, sans-serif;
